@import 'tailwindcss';

.hero-bg {
    position: relative;
}

.hero-bg::before {
    content: '';
    position: absolute;
    inset: 0px;
    background-position: center center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
        url('hero.png');

    z-index: -1;
}

.btn {
    @apply bg-red-600 hover:bg-red-700 text-white flex justify-center items-center cursor-pointer;
}
